body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Jumbotron */

div.jumbotron .container > .row div {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 0px rgb(105, 105, 105);
  padding: 1rem;
  border-radius: 0.8rem;
}

div.jumbotron {
  background-image: url(./assets/images/jumbotron-image.jpg);
}

/* Cards */

div.card {
  cursor: pointer;
}

div.card img {
  object-fit: cover;
  width: 35rem;
  height: 25rem;
}

div.card .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*comment area*/
.comment-area {
  top: 0;
  left: 0;
  right: 0;
  border: 2px solid gray;
  background-color: white;
  z-index: 9;
}

.comment-area .comment-img-div {
  width: 10rem;
  height: 17rem;
}

.comment-area .comment-img-div img {
  object-fit: cover;
  width: 10rem;
  height: 17rem;
}

.comment-area h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* footer */

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li {
  padding-left: 0;
}

footer ul li a:hover {
  color: white !important;
}
